body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Regular', sans-serif;

}

/* CSS for Notification bar */
.notification_bar {
    background-color: rgb(210, 216, 221);
    padding: 5px 5rem 5px 5rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notify_shop {
    padding-left: 10px;
    padding-right: 5px;
}


/* CSS for Navigation bar */
.nav_logo {
    font-size: 20px;
}

.navbar {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem 10px 5rem;
}

.nav_container a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(175, 174, 173);
}

a:hover {
    text-decoration: underline;
}

.nav_icons {
    text-align: end;
}

.nav_icons svg {
    padding: 3px;
}


/* CSS for Slider Section */
.slider {
    padding: 0px 5rem 0px 5rem;
}

#slider_img {
    width: 100%;
}

.slider_text {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_text1 {
    font-size: 60px;
    font-weight: bold;
}

.slider_text2 {
    font-size: 13px;
    color: rgb(152, 151, 151);
    padding-right: 5rem;
}


/* CSS for banner grid */

.banner_grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.banner_col2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.living_room {
    height: 100vh;
    width: 50vw;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bedroom {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.kitchen {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.banner_title {
    font-size: 25px;
    margin: 0%;
}

.banner_shop {
    padding-top: 20px;
    color: black;
}

.banner_text_living {
    padding: 50px 0px 0px 50px;
}

.banner_text {
    padding-top: 13rem;
}

.banner_img {
    padding-top: 40px;
}



/* CSS for product carousel */
.product_carousel {
    padding: 20px 5rem 0px 5rem;

}


/* CSS for values-section */
.value_section {
    padding: 20px 5rem 0px 5rem;
    display: flex;
    gap: 10px;
}

.values {
    background-color: rgb(224, 224, 229);
    width: 25%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-top: 20px;
}

.value_t2 {
    color: rgb(142, 142, 142);
    font-size: 13px;
}



/* CSS for banner-section */
.banner2 {
    padding-top: 20px;
    display: flex;
    width: 100%;
}

.banner2_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(224, 224, 229);
    justify-content: center;
    padding-left: 5rem;
}

.banner2_text1 {
    color: blue;
    font-size: 13px;
    margin: 0;
    padding-top: 10px;
}

.banner2_text2 {
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.banner2_text3 {
    font-size: 13px;
    margin: 0;
    padding-top: 10px;
}

.banner2_shop {
    padding-top: 20px;
    display: flex;
    color: black;
}



/* CSS for blog-section */
.blog_section {
    padding: 50px 5rem 0px 5rem;
}

.blog_text {
    display: flex;
    justify-content: space-between;
}

.blog_text1 {
    font-size: 30px;
}

.blog_text2 {
    font-size: 15px;
}

.blog_articles {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.articlesP {
    font-size: 20px;
}

.article_link {
    padding-top: 0px;
}


/* CSS for Newsletter Section */

.newsletter_Section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    background-color: rgb(224, 224, 229);
}

.news_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_Text1 {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

.news_Text2 {
    margin: 0px;
    padding-top: 5px;
    font-size: 14px;
}

.email {
    width: 120%;
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_email_text {
    font-size: 13px;
}

.email_div {
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
}