body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Regular', sans-serif;
}

/* CSS for Notification bar */

.notification_bar {
    background-color: rgb(210, 216, 221);
    padding: 5px 1rem 5px 1rem;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification_text {
    display: flex;
    justify-self: center;
    align-items: center;
}

.notify_shop {
    padding-left: 10px;
    padding-right: 5px;
}



/* CSS for Navigation bar */

.navbar_logo {
    font-size: 20px;
}

.navbar {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5rem 10px 5rem;
}

.navbar_container a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(175, 174, 173);
}

a:hover {
    text-decoration: underline;
}

.navbar_icons {
    text-align: end;
}

.navbar_icons svg {
    padding: 3px;
}




/* CSS for Slider Section */

.slider_section {
    padding: 0px 5rem 0px 5rem;
    position: relative;
}

.slider_img {
    width: 100%;
    height: 500px;
    display: inline-block;
}

.slider_text {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_text1 {
    font-size: 60px;
    font-weight: bold;
}

.slider_text2 {
    font-size: 13px;
    color: rgb(152, 151, 151);
    padding-right: 5rem;
}




/* CSS for banner grid */

.banner_grid {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.banner_col2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.living_room {
    height: 80vh;
    width: 50vw;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bedroom {
    height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.kitchen {
    height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.banner_title {
    font-size: 25px;
    padding-bottom: 15px;
    margin: 0%;
}

.banner_shop {
    color: black;
}

.banner_text_living {
    padding: 50px 0px 0px 50px;
}

.banner_text {
    padding-top: 10rem;
}

.banner_img {
    padding-top: 20px;
}




/* CSS for product carousel */

.product_carousel {
    padding: 30px 5rem 0px 5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.arrivals_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.arrivals_image_section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
    background-color: rgb(166, 143, 143);
}

.product_section {
    padding-top: 10px;
    background-color: rgb(224, 224, 229);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product_buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 10px;
}

.product_image {
    width: 280px;
    height: 230px;
}

.button_NEW {
    background-color: beige;
    width: fit-content;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    box-shadow: none;
    border: none;
    text-align: center;
    cursor: pointer;
}

.button_OFF {
    background-color: rgb(207, 207, 162);
    width: fit-content;
    font-weight: bold;
    border-radius: 5px;
    border-color: white;
    box-shadow: none;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
}

.product_details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 15px;
}



/* CSS for values-section */

.value_section {
    padding: 20px 5rem 0px 5rem;
    display: flex;
    gap: 10px;
}

.values {
    background-color: rgb(224, 224, 229);
    width: 25%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-top: 20px;
}

.value_subtext {
    color: rgb(142, 142, 142);
    font-size: 13px;
}




/* CSS for banner-section */

.banner {
    padding-top: 20px;
    display: flex;
    width: 100%;
}

.banner_details {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(224, 224, 229);
    justify-content: center;
    padding-left: 5rem;
}

.banner_text1 {
    color: blue;
    font-size: 13px;
    margin: 0;
    padding-top: 10px;
}

.banner_text2 {
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.banner_text3 {
    font-size: 13px;
    margin: 0;
    padding-top: 10px;
}

.banner_shop_link {
    padding-top: 20px;
    display: flex;
    color: black;
}



/* CSS for blog-section */

.blog_section {
    padding: 50px 5rem 0px 5rem;
}

.blog_header {
    display: flex;
    justify-content: space-between;
}

.blog_name {
    font-size: 30px;
}

.blog_link {
    font-size: 15px;
}

.blog_articles {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.article_link {
    padding-top: 0px;
}


/* CSS for Newsletter Section */

.newsletter_Section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
    background-color: rgb(224, 224, 229);
}

.newsletter_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter_message {
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans';
}

.newsletter_subtext {
    margin: 0px;
    padding-top: 5px;
    font-size: 14px;
}

.email {
    width: 120%;
    height: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email_address {
    font-size: 13px;
}

.email_div {
    display: flex;
    gap: 5px;
    align-items: center;
    color: gray;
}



/* CSS for footer */
.footer {
    color: white;
    padding-top: 60px;
    background-color: black;
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: 10px;
}

.footer_details_and_links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer_copyright_and_social {
    display: flex;
    justify-content: space-between;
    padding: 11px 0 50px 0;
}

.footer_details {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer_links {
    display: flex;
    gap: 20px;
}

.footer_copyright {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_social {
    display: flex;
    gap: 20px;
}